@use "../../a-sass/base/abstracts" as *;

.filters {
  @include flex($juco: space-between);
  gap: 4rem;
  flex-wrap: wrap;
  margin-top: clamp(3rem, 4vw + 1rem, 5.4rem);
  margin-bottom: clamp(3rem, 4vw + 1rem, 5.4rem);

  >* {
    height: 6rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-weight: 400;
  }
}