@use "../global/placeholder";

.country-details {
  padding: 4rem 8rem;
  border: 1px solid coral;
  .back-button {
    margin-bottom: 5rem;
    width: 14rem;
    height: 3.5rem;
    border-radius: 10px;
    outline: 2px solid #f2f2f2;
  }
  &__content {
    display: flex;
    gap: 10rem;
    .flag {
      width: 54rem;
      height: 33rem;
    }
    .texts {
      button{
        font-weight: 300;
      }
      p {
        font-weight: 300;
        margin-bottom: 1.4rem;
      }
      span.bold {
        font-weight: 500;
      }
      h3 {
        font-weight: 500;
      }

      &__top {
        h1 {
          font-size: 3rem;
          font-weight: 800;
          margin-bottom: 3rem;
        }
      }
      &__middle {
        display: flex;
        justify-content: space-between;
        > * {
          flex: 1 1 21rem;
        }
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 5rem;
      }
      &__bottom {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        .countries-button-wrapper {
          display: flex;
          flex-wrap: wrap;
          gap: 1.4rem;
          .button {
            outline: 2px solid #f2f2f2;
            padding: .4rem 2rem;
          }
        }
      }
    }
  }
}
