@use "../global/placeholder";

.dropdown {
    font-weight: 300;
  flex: 1 1 20rem;
  min-width: 20rem;
  max-width: 24rem;
  .dropdown-button {
    height: 100%;
    width: 100%;
    padding: 2rem;
    @extend %space-between;
  }
  .dropdown-content {
    z-index: 10001;
    width: 100%;
    padding: 2rem;
    margin-top: 0.6rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  }
}
