.search, .top-part .theme-mode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown .dropdown-button, .filters-content-wrapper .filters, .top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root {
  /* Light Mode Colors */
  --light-mode-background: hsl(0, 0%, 98%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-elements: hsl(0, 0%, 100%);
  /* Dark Mode Colors */
  --dark-mode-background: hsl(207, 26%, 17%);
  --dark-mode-text: hsl(0, 0%, 100%);
  --dark-mode-elements: hsl(209, 23%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  outline: none;
  border: none;
  position: relative;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

a,
button {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.main-container > * {
  padding: clamp(3rem, 4vw + 1rem, 5.4rem);
}

.top-part {
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  height: 8rem;
  gap: 2rem;
}
.top-part > p {
  font-size: 2.4rem;
  font-weight: 800;
}
.top-part .theme-mode {
  gap: 1rem;
  cursor: pointer;
  font-weight: 400;
}

.filters-content-wrapper .filters {
  gap: 4rem;
  flex-wrap: wrap;
  margin-bottom: clamp(3rem, 4vw + 1rem, 5.4rem);
}
.filters-content-wrapper .filters > * {
  height: 6rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-weight: 400;
}

.search {
  flex: 1 1 38rem;
  min-width: 30rem;
  max-width: 48rem;
  padding: 0 3rem;
  gap: 2.2rem;
}
.search .search-icon {
  color: grey;
  cursor: pointer;
}
.search form {
  height: 100%;
  width: 100%;
}
.search form input {
  height: 100%;
  width: 100%;
}

.dropdown {
  flex: 1 1 20rem;
  min-width: 20rem;
  max-width: 24rem;
}
.dropdown .dropdown-button {
  height: 100%;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
}
.dropdown .dropdown-content {
  z-index: 10;
  background-color: white;
  border-radius: 4px;
  width: 100%;
  padding: 2rem;
  margin-top: 0.6rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.dropdown .dropdown-content > * {
  cursor: pointer;
}
.dropdown .dropdown-content .dropdown-option:not(:last-child) {
  margin-bottom: 2rem;
}

.content {
  padding-bottom: clamp(4rem, 5vw + 1rem, 6rem);
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-template-rows: minmax(32rem, auto);
  grid-auto-rows: auto;
}
@media screen and (max-width: 590px) {
  .content {
    grid-template-columns: 30rem;
    justify-content: center;
  }
}
.content .card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 32rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
}
.content .card > * {
  width: 100%;
}
.content .card .flag {
  height: 16rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.content .card .details {
  padding: 2.4rem;
}
.content .card .details h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
}
.content .card .details p {
  font-weight: 600;
}
.content .card .details p span {
  font-weight: 300;
}

.country-details {
  padding: clamp(3rem, 4vw + 1rem, 5.4rem);
  min-width: 33rem;
}
.country-details .back-button {
  margin-bottom: 5rem;
  width: 14rem;
  height: 3.5rem;
  border-radius: 10px;
  outline: 2px solid #f2f2f2;
}
.country-details__content {
  display: flex;
  gap: 8rem;
}
@media screen and (max-width: 900px) {
  .country-details__content {
    flex-wrap: wrap;
  }
  .country-details__content .flag {
    flex-basis: 60rem;
  }
}
.country-details__content .flag {
  width: 56rem;
  height: 36rem;
}
.country-details__content .flag img {
  object-fit: fill;
}
.country-details__content .texts button {
  font-weight: 300;
}
.country-details__content .texts p {
  font-weight: 300;
  margin-bottom: 1.4rem;
}
.country-details__content .texts span.bold {
  font-weight: 500;
}
.country-details__content .texts h3 {
  font-weight: 500;
}
.country-details__content .texts__top h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 3rem;
}
.country-details__content .texts__middle {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.country-details__content .texts__middle > * {
  flex: 1 1 21rem;
}
.country-details__content .texts__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.6rem;
}
.country-details__content .texts__bottom .countries-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
}
.country-details__content .texts__bottom .countries-button-wrapper .button {
  outline: 2px solid #f2f2f2;
  padding: 0.4rem 2rem;
}

/*# sourceMappingURL=style.css.map */
