[data-theme="light"] {
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --elements: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
  --elements: hsl(209, 23%, 22%);
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($juco: flex-start, $alite: flex-start) {
  display: flex;
  justify-content: $juco;
  align-items: $alite;
}