@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --Dark_Blue: hsl(209, 23%, 22%);
  --Very_Dark_Blue_Background: hsl(207, 26%, 17%);
  --Very_Dark_Blue: hsl(200, 15%, 8%);

  --Dark_Gray_Light_Mode_Input: hsl(0, 0%, 52%);
  --Very_Light_Gray_Light_Mode_Background: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  position: relative;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  background-color: var(--Very_Dark_Blue_Background);
  color: var(--White);
}

a {
  display: inline-block;
}

span {
  display: inline-block;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#root > * {
  padding: 0 8rem;
}

.top {
  background-color: var(--Dark_Blue);

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 8rem;
}
.filter {
  margin: 4.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter * {
  font-size: 1.4rem;
  color: var(--White);
  font-weight: 300;
  background-color: var(--Dark_Blue);
}

.filter input[name="search"] {
  background-color: var(--Dark_Blue);
  width: 48rem;
  height: 5.4rem;

  padding: 3rem;
  border-radius: 4px;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.filter .container button {
  cursor: pointer;
  height: 5.6rem;
  width: 20rem;
  padding: 0 2rem;
  border-radius: 4px;

  text-align: left;
}

.filter .container ul {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

  padding: 2rem 2rem 1rem;
  position: absolute;
  top: 100%;
  margin-top: 0.6rem;
  width: 20rem;
  border-radius: 4px;
  list-style: none;

  z-index: 100;

  transition: clip-path 0.2s ease-out;
}
.filter .container ul.show {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.filter .container ul li {
  cursor: pointer;
  width: 100%;
  height: 3.4rem;

  border-radius: 4px;
}

.countries {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}

.country {
  height: 34rem;
  background-color: var(--Dark_Blue);
  border-radius: 4px;
}

.country img {
  height: 16rem;
  border-radius: 4px 4px 0 0;
}
.country h1 {
  font-size: 1.6rem;
  font-weight: 800;

  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}
.country .data {
  margin-left: 2.6rem;
}
.country h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}
.country h2 span {
  font-weight: 300;
}

.single-country {
  margin-top: 8rem;
}

.back {
  height: 4rem;
  width: 13rem;
  background-color: var(--Dark_Blue);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 15rem;
}

.main .img_wrapper {
  margin-top: 7.6rem;
  width: 56rem;
  height: 40rem;
  background-color: var(--Dark_Blue);
}
.main .right h1 {
  font-size: 3.2rem;
  font-weight: 800;

  margin-bottom: 4rem;
}

.split {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 10rem;
}

.split h2 {
  font-weight: 600;
  font-size: 1.6rem;

  margin-bottom: 1rem;
}

.single-country .main .right .bottom {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.6rem;
}

.single-country .main .right .bottom h2 {
  font-size: 1.6rem;
  font-weight: 800;
}
.single-country .main .right .bottom .borders {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.border_country {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--Dark_Blue);

  width: 9rem;
  height: 3rem;
}
