@use "../../a-sass/base/abstracts" as *;

.country-details {
  padding: clamp(3rem, 4vw + 1rem, 5.4rem);
  min-width: 33rem;

  .back-button {
    @extend %flex;
    gap: 1rem;

    margin-bottom: 5rem;
    width: 14rem;
    height: 3.5rem;
    border-radius: 10px;
    outline: 2px solid #f2f2f2;

    svg {
      height: 2rem;
      width: 2rem;
    }
  }

  &__content {
    @include flex();
    gap: 8rem;

    .flag {
      width: 46vw;
      min-width: 40rem;
      // height: 36rem;

      img {
        object-fit: contain;
      }
    }

    .texts {
      width: 100%;

      p {
        font-weight: 300;
        margin-bottom: 1.4rem;
      }

      span.bold {
        font-size: 1.8rem;
        font-weight: 500;
        margin-right: 1rem;
      }

      h3 {
        font-weight: 500;
      }

      &__top {
        h1 {
          font-size: 3rem;
          font-weight: 800;
          margin-bottom: 3rem;
        }
      }

      &__middle {
        @include flex();
        margin-bottom: 5rem;
        gap: 10vw;
        flex-wrap: wrap;

        // >* {
        //   flex: 1 1 21rem;
        // }
      }

    }
  }
}