@use "../../a-sass/base/abstracts" as *;

.content {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-template-rows: minmax(32rem, auto);
  grid-auto-rows: auto;

  padding-bottom: clamp(4rem, 5vw + 1rem, 6rem);

}